<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ './assets/css/style.css' | relative_url }}">
    <script src="{{ './assets/js/calculator.js' | relative_url }}" defer></script>
</head>
<body>

  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <!-- Your navigation links here -->
    </nav>
  </header>

  <main>
    {{ content }} <!-- This renders the content of the page -->
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }}</p>
  </footer>

</body>
</html>



  